h1 {
  color: red;
}
nav {
  border-bottom: 1px solid blue;
  margin-bottom: 20px;
}

nav li {
  list-style: none;
  list-style-type: none;
}

nav li a {
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 5px;
}